<div class="hero">
    <div class="container">
        <div class="row">
            <h1 class="display-1">Vehicle Registration!</h1>
            <p class="fs-4">Enter your registration number to check validity</p>
            <form action="/search_result" method="POST" role="search" class="d-flex align-items-center justify-content-center">
                <input class="form-control m-2 w-25" type="search" name="search_input" placeholder="Search" aria-label="Search">
                <button class="btn btn-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</div>