<div class="hero">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="card bg-dark text-white opacity-75">
                    <div class="card-body">
                        <h2 class="text-center">Login</h2>
                        <form action="/login/handler" method="post">
                            <div class="mb-3">
                                <label for="username" class="form-label">Username</label>
                                <input type="text" class="form-control bg-dark text-white" id="username" placeholder="Enter your username" name="username" required>
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label">Password</label>
                                <input type="password" class="form-control bg-dark text-white" id="password" placeholder="Enter your password" name="password" required>
                            </div>
                            <button type="submit" class="btn btn-primary w-100" name="login">Login</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>