body {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)),
    url('../../images/background1.jpg') no-repeat center center/cover;
    height: 100vh;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    height: 892px;
}

